*{
  box-sizing: border-box;
}
.containercittà{
  width: 100vw;
  height: 750px;
  margin: 0;
  background-size: cover;
  position: relative;
  border: 5px solid white;

}
.nomecittà{
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 5px;
}
.posizione1,.posizione2,.posizione3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.città1{
  background-image: url("anghiari.jpg");
  filter: brightness(70%);
}
.città2{
  background-image: url("lagobraies.jpg");
  filter: brightness(70%);
}
.città3{
  background-image: url("civitabagnoregio.jpg");
  filter: brightness(70%);
}
